.isButton {
	display:inline-block;
	padding:.5em;
	margin:0;
	border:none;
	line-height:100%;
	font-size:1em;
	text-decoration:none !important;
	color:#333;
	background:#fff;
	@include box-sizing(border-box);
	@include transition(color .1s ease-out, background .1s ease-out);
}
/*.loginButton {
	background-color:$backColor_EnterButton_Default;
	color:$textColor_EnterButton_Default;
	font-size:15px;
	&:hover {
		background-color:$backColor_EnterButton_Active;
		color:$textColor_EnterButton_Active;
	}
}*/