@import url("http://fonts.googleapis.com/css?family=Economica:400,700,400italic,700italic");
@import "compass/css3";
@import "#Libs-fonts";
@import "#Default-normalize";
@import "#Libs-mixins";
/* ==========================================================================
	 HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
	 ========================================================================== */

@import "#Default-h5bpStyles";

/* ==========================================================================
	 Author's custom styles
	 ========================================================================== */

//$fontGeneral:Tahoma, Arial, sans-serif;
$fontGeneral:'Economica','Tahoma', sans-serif;

//Web symbol fonts
$fontWebSymbols:'WebSymbolsRegular', sans-serif;
$fontLigature:'LigatureSymbols';

	/*$colorBlueOpaqueBright:#9EBCDE;
	$colorBlueLightBright:#8EB1D9;
	$colorBlueMediumLightBright:#7fa5d2;
	$colorBlueMediumBright:#01427a;*/
$colorBlue:#312783;

$colorBrightBlue:#61C3D9;


	//$colorGrayLightBright:#e0e0e0;
	$colorGrayDarkDarken:#646061;
$colorGray:#EDEDED;
	$colorGray2:#404041;
	$colorGrayLightMediumDark:#E0E0E0;
	$colorGrayLightDarkDark:#D1D2D4;
	$colorGrayMediumDark:#828387;

//$colorOrange:lighten(#2b5c9f,5%);
$colorGreen:#95C11F;
//$colorYellow:#FFD961;
$colorRed:#EC1C24;

$colorDommy:rgba(#000,.5);

/* Colores de fondo y borde de campos invalidos
==========================================================================*/
	//Error
		$backColor_InvalidField_Error:lighten($colorRed,20%);
		$borderColor_InvalidField_Error:$colorRed;


body {
	font-family:$fontGeneral;
}
ul { margin:0; padding:0; }
h2, h3, h4 { margin:0; font-weight:normal; }
p { margin:0; }
a { color:inherit; }

textarea, input, select {
	&.invalid {
		background-color:$backColor_InvalidField_Error !important;
		border:1px solid $borderColor_InvalidField_Error !important;
	}
}

@import "#Libs-icons";
@import "#Libs-buttons";
//@import "#Libs-jqueryUI";

@import "header";
@import "container";
//@import "accordion";
@import "footer";

/* ==========================================================================
	 Media Queries
	 ========================================================================== */

@media all and (max-width:1024px) {
	/*#container {
		width:1024px;
	}
	.content {
		width:656px;
	}
	.panelFormat {
		p {
			width:488px;
			margin:0 84px;
		}
	}*/
	/*body > header {
		width:1024px;
	}
	body > footer {
		width:1024px;
		.pFF {
			width:100%;
			margin:0;
		}
	}*/
}

/* ==========================================================================
	 Helper classes
	 ========================================================================== */

@import "#Default-helperClasses";

/* ==========================================================================
	 Print styles
	 ========================================================================== */

//@import "#Default-printStyles";