@import url("http://fonts.googleapis.com/css?family=Economica:400,700,400italic,700italic");
@import url("http://fonts.googleapis.com/css?family=Gudea:400,700,400italic");
@import "compass/css3";
@import "partials/#Libs-fonts";
@import "partials/#Default-normalize";
@import "partials/#Libs-mixins";
/* ==========================================================================
	 HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
	 ========================================================================== */

@import "partials/#Default-h5bpStyles";

/* ==========================================================================
	 Author's custom styles
	 ========================================================================== */

//$fontGeneral:Tahoma, Arial, sans-serif;
//$fontGeneral:'Economica','Tahoma', sans-serif;
$fontGeneral: 'Gudea', sans-serif;
$fontSupernova:'BioliquidRegular', sans-serif;

//Web symbol fonts
$fontWebSymbols:'WebSymbolsRegular', sans-serif;
$fontLigature:'LigatureSymbols';

$colorBlue:#61C2D9;
$colorBlueOpaqueDark:#5F96A3;
$colorBlueDark:#20788D;
$colorBlueLight:#8AD9EC;
$colorBlueOpaqueLight:#A4DEEC;

$colorOrange:#FFB66E;
$colorOrangeOpaqueDark:#BF966E;
$colorOrangeDark:#A66424;
$colorOrangeLight:#FFC892;
$colorOrangeOpaqueLight:#FFD7AF;

$colorGray:#EDEDED;
$colorGrayDark:#4C4C4C;

$colorGreen:#95C11F;
$colorRed:#EC1C24;

$colorDommy:rgba(#000,.5);

/* Colores de fondo y borde de campos invalidos
==========================================================================*/
	//Error
		$backColor_InvalidField_Error:lighten($colorRed,20%);
		$borderColor_InvalidField_Error:$colorRed;


body {
	font-family:$fontGeneral;
}
ul { margin:0; padding:0; }
h2, h3, h4 { margin:0; font-weight:normal; }
p { margin:0; }
a { color:inherit; }

textarea, input, select {
	&.invalid {
		background-color:$backColor_InvalidField_Error !important;
		border:1px solid $borderColor_InvalidField_Error !important;
	}
}

.safe , .over { color:#fff; font-weight:700; }
.safe { color:$colorGreen; }
.over { color:$colorRed; }

#embedVideo {
	position:absolute;
	width:100%;
	height:100%;
}
.jumpVideo {
	position:absolute;
	display:inline-block;
	z-index:90;
	right:0;
	bottom:0;
	font-size:25px;
	font-weight:700;
	font-family:$fontSupernova;
	text-transform:uppercase;
	padding:15px 40px;
	color:#fff;
	background-color:darken($colorBlueDark,10%);
	.symb-icon {
		margin-left:5px;
	}
}

@import "partials/#Libs-icons";
@import "partials/#Libs-buttons";
//@import "partials/#Libs-jqueryUI";

@import "partials/header";
@import "partials/container";
	@import "partials/inicio";
	@import "partials/registro";

@import "partials/footer";

/* ==========================================================================
	 Media Queries
	 ========================================================================== */

@media all and (max-width:1042px) {
	#container {
		width:1024px;
	}
	/*.content {
		width:656px;
	}
	.panelFormat {
		p {
			width:488px;
			margin:0 84px;
		}
	}*/
	/*body > header {
		width:1024px;
	}
	body > footer {
		width:1024px;
		.pFF {
			width:100%;
			margin:0;
		}
	}*/
}

/* ==========================================================================
	 Helper classes
	 ========================================================================== */

@import "partials/#Default-helperClasses";

/* ==========================================================================
	 Print styles
	 ========================================================================== */

//@import "partials/#Default-printStyles";