$font_path: "fonts/";
@font-face {
	font-family:'WebSymbolsRegular';
	src:	url($font_path + 'websymbolsligaregular.eot');
	src:	url($font_path + 'websymbolsligaregular.eot?#iefix') format('embedded-opentype'),
				url($font_path + 'websymbolsligaregular.woff') format('woff'),
				url($font_path + 'websymbolsligaregular.ttf') format('truetype'),
				url($font_path + 'websymbolsligaregular.svg#WebSymbolsRegular') format('svg');
	font-weight:normal;
	font-style:normal;
}

/*@font-face {
	font-family:'ModernPictogramsNormal';
	src:	url($font_path + 'modernpics-webfont.eot');
	src:	url($font_path + 'modernpics-webfont.eot?#iefix') format('embedded-opentype'),
				url($font_path + 'modernpics-webfont.woff') format('woff'),
				url($font_path + 'modernpics-webfont.ttf') format('truetype'),
				url($font_path + 'modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

@font-face {
	font-family:'LigatureSymbols';
	src:	url($font_path + 'LigatureSymbols-2.11.eot');
	src:	url($font_path + 'LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
				url($font_path + 'LigatureSymbols-2.11.woff') format('woff'),
				url($font_path + 'LigatureSymbols-2.11.ttf') format('truetype'),
				url($font_path + 'LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
	src:	url($font_path + 'LigatureSymbols-2.11.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}