/*$textColor_Nav_FirstLevel_Active:$colorBlue;
$textColor_Nav_SecondLevel_Active:$colorBlue;

$shadowColor_General_Blue:$colorBlue;
$shadowColor_General_Green:$colorGreen;
$shadowColor_General_Purple:$colorBlue;*/

body > header { width:100%; }

#logo {
	float:left;
	width:404px;
	height:120px;
	margin:16px 0 16px 80px;
	background:url(../imgs/design/logo.png) no-repeat center center;
	text-indent:-9999px;
	overflow:hidden;
}

%formatNav {
	position:absolute;
	@include box-sizing(border-box);
	a {
		float:left;
		width:100%;
		color:$colorBlueOpaqueLight;
		@include box-sizing(border-box);
		@include text-shadow(
			0 0 2px #000,
			0 0 25px $colorBlueLight,
			0 0 50px #000
		);
		&:hover {
			color:$colorOrangeOpaqueLight;
			@include text-shadow(
				0 0 2px #000,
				0 0 25px $colorOrangeLight,
				0 0 50px #000
			);
		}
	}
	ul {
		list-style:none;
		li { float:left; width:100%; }
	}
}

.mainNav {
	@extend %formatNav;
	width:111px;
	//margin:34px 0 0 26px;
	margin-left:26px;
	font-size:22px;
	font-weight:700;
	li {
		a {
			text-transform:uppercase;
			line-height:100%;
			padding:9px 16px;
			text-align:right;
		}
	}
}

.socialNav {
	@extend %formatNav;
	right:5.07%;
	//right:26px;
	width:50px;
	//margin-top:34px;
	line-height:100%;
	font-size:30px;
	text-align:right;
	font-weight:700;
	//background-color:rgba(#333,.2);
	@include box-sizing(border-box);
	li { margin-bottom:26px; }
}